01- Crie um programa que conte de zero até cinco:

In [1]:
x = 0 
while (x<=5):
    print(x)
    x +=1

0
1
2
3
4
5

02- Crie uma lista com cinco nomes e mostre cada um e seus respectvos números:

In [3]:
nome =[]
nome=[
    "Gustavo",
    "Carlos",
    "Luis",
    "Ana Maria",
    "Gabriel"]
x=0
while(x<=4):
    print(x,nome[x])
    x += 1

0 Gustavo
1 Carlos
2 Luis
3 Ana Maria
4 Gabriel

03- Crie uma lista com cinco nomes e organize de modoalfabético  mostrando seus respectvos números:

In [4]:
nome =[]
nome=[
    "Gustavo",
    "Carlos",
    "Luis",
    "Ana Maria",
    "Gabriel"]
nome.sort()
x=0
while(x<=4):
    print(x,nome[x])
    x += 1

0 Ana Maria
1 Carlos
2 Gabriel
3 Gustavo
4 Luis